@charset "UTF-8";
/*
*Default ----------------------------------------------------------------
*/
/* line 3, ../sass/basic.scss */
html {
  scroll-behavior: smooth;
}

/* line 6, ../sass/basic.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: 0.085rem;
  color: #707070;
  text-transform: capitalize;
}
@media screen and (max-width: 576px) {
  /* line 6, ../sass/basic.scss */
  body {
    font-size: 15px;
  }
}
/* line 17, ../sass/basic.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 21, ../sass/basic.scss */
a {
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
  text-decoration: none;
}
/* line 24, ../sass/basic.scss */
a:hover, a:active {
  outline: none;
  text-decoration: none;
}

/* line 29, ../sass/basic.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 33, ../sass/basic.scss */
h1, h2, h3, h4, h5, h6 {
  color: #222;
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.5;
}

/* line 41, ../sass/basic.scss */
button, input, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, sans-serif;
  -webkit-transition: ease-in-out 0.5s;
  -moz-transition: ease-in-out 0.5s;
  -o-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

/* line 45, ../sass/basic.scss */
select, textarea {
  width: 100%;
  border: 1px solid #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  color: #222;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 52, ../sass/basic.scss */
select.custom-select, textarea.custom-select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 55, ../sass/basic.scss */
select:focus, select:hover, textarea:focus, textarea:hover {
  color: #C79F62;
}

/* line 59, ../sass/basic.scss */
.select-wrapper {
  position: relative;
}
/* line 61, ../sass/basic.scss */
.select-wrapper .iconify {
  position: absolute;
  top: 12px;
  right: 15px;
  font-size: 1.5rem;
  color: #fff;
}
/* line 68, ../sass/basic.scss */
.select-wrapper .cus-select {
  width: 100%;
  padding: 10px 15px;
  font-size: 1.15rem;
  color: #fff !important;
  font-weight: bold;
  background-color: #C79F62;
}

/* line 78, ../sass/basic.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 83, ../sass/basic.scss */
.custom-control .custom-control-label {
  cursor: pointer;
}
/* line 85, ../sass/basic.scss */
.custom-control .custom-control-label:before {
  background-color: #AD9985;
  border-color: #ced4da;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 90, ../sass/basic.scss */
.custom-control .custom-control-label:before, .custom-control .custom-control-label:after {
  top: 0.2rem;
}
/* line 96, ../sass/basic.scss */
.custom-control .custom-control-input:checked ~ .custom-control-label:before {
  background-color: #C79F62;
  border-color: #C79F62;
}
/* line 102, ../sass/basic.scss */
.custom-control .custom-control-description {
  padding-top: 3px;
}
/* line 106, ../sass/basic.scss */
.custom-control.custom-radio:not(:last-of-type) {
  margin-bottom: 8px;
}
/* line 109, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-label {
  padding-left: 8px;
}
/* line 114, ../sass/basic.scss */
.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:after {
  background: none;
}

/* line 121, ../sass/basic.scss */
::-webkit-selection {
  color: #222;
  background: #FFF462;
}

/* line 125, ../sass/basic.scss */
::-moz-selection {
  color: #222;
  background: #FFF462;
}

/* line 129, ../sass/basic.scss */
::selection {
  color: #222;
  background: #FFF462;
}

/* line 3, ../sass/header.scss */
#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
/* line 9, ../sass/header.scss */
#header .container {
  position: relative;
}
/* line 13, ../sass/header.scss */
#header .navbar ul {
  list-style: none;
}
/* line 16, ../sass/header.scss */
#header .navbar ul.navbar-nav li.sub-menu-parent .sub-menu {
  display: none;
}
/* line 21, ../sass/header.scss */
#header .navbar .logo {
  position: absolute;
  top: 10px;
  left: 15px;
  display: block;
  z-index: 101;
}
/* line 27, ../sass/header.scss */
#header .navbar .logo a {
  display: block;
}
/* line 29, ../sass/header.scss */
#header .navbar .logo a img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  height: 80px;
}
/* line 36, ../sass/header.scss */
#header .navbar .btn-group #language {
  min-width: auto;
  padding: 5px 10px;
  margin-left: 15px;
  border-width: 1px;
  font-weight: normal;
  color: #C79F62;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #C79F62;
  background-color: transparent;
  font-size: 0.95rem;
  box-shadow: none;
}
/* line 50, ../sass/header.scss */
#header .navbar .btn-group .dropdown-menu {
  left: auto;
  right: 0;
  min-width: auto;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 55, ../sass/header.scss */
#header .navbar .btn-group .dropdown-menu a {
  font-size: 0.85rem;
  color: #C79F62;
}
/* line 58, ../sass/header.scss */
#header .navbar .btn-group .dropdown-menu a:hover, #header .navbar .btn-group .dropdown-menu a:active {
  background-color: #C79F62;
  color: #fff;
}
/* line 66, ../sass/header.scss */
#header .navbar .icon-set ul {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  list-style: none;
}
/* line 71, ../sass/header.scss */
#header .navbar .icon-set ul li {
  display: inline-block;
}
/* line 74, ../sass/header.scss */
#header .navbar .icon-set ul li .iconify {
  color: #fff;
  font-size: 1.85rem;
  padding: 3px;
  background-color: #C79F62;
}
/* line 84, ../sass/header.scss */
#header .navbar .icon-set ul li a:hover, #header .navbar .icon-set ul li a:active {
  opacity: 0.5;
}
/* line 91, ../sass/header.scss */
#header .navbar .menu {
  position: relative;
  margin-left: auto;
  display: none;
  padding: 0;
  z-index: 333;
  cursor: pointer;
}
/* line 98, ../sass/header.scss */
#header .navbar .menu .burger {
  position: relative;
  width: 30px;
  height: 40px;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 104, ../sass/header.scss */
#header .navbar .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #C79F62;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 115, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(1) {
  top: 11px;
}
/* line 118, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(2) {
  top: 18px;
}
/* line 121, ../sass/header.scss */
#header .navbar .menu .burger span:nth-child(3) {
  top: 25px;
}
/* line 127, ../sass/header.scss */
#header .navbar .menu .active span {
  background: #444851;
}
/* line 129, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(1) {
  top: 18px;
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 133, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 137, ../sass/header.scss */
#header .navbar .menu .active span:nth-child(3) {
  top: 18px;
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
/* line 145, ../sass/header.scss */
#header.fixed {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}
/* line 149, ../sass/header.scss */
#header.fixed .navbar {
  padding: 10px 0;
}
/* line 153, ../sass/header.scss */
#header.fixed .navbar .logo a img {
  height: 50px;
}
@media screen and (min-width: 992px) {
  /* line 165, ../sass/header.scss */
  #header.fixed .navbar .logo a img {
    height: 60px;
  }
}
@media screen and (min-width: 768px) {
  /* line 176, ../sass/header.scss */
  #header .navbar .logo a img {
    height: 90px;
  }
  /* line 182, ../sass/header.scss */
  #header .navbar .navbar-nav li a {
    position: relative;
    color: #C79F62;
  }
  /* line 185, ../sass/header.scss */
  #header .navbar .navbar-nav li a:after {
    content: "";
    display: block;
    border-bottom: dashed 1px;
    -moz-transform: scaleX(0);
    -o-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: transform 250ms ease-in-out;
    -moz-transition: transform 250ms ease-in-out;
    -o-transition: transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
  }
  /* line 195, ../sass/header.scss */
  #header .navbar .navbar-nav li:hover a:after, #header .navbar .navbar-nav li:active a:after {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform: transform-origin(0%, 50%);
    -o-transform: transform-origin(0%, 50%);
    -ms-transform: transform-origin(0%, 50%);
    -webkit-transform: transform-origin(0%, 50%);
    transform: transform-origin(0%, 50%);
  }
  /* line 202, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a {
    color: #C79F62;
    font-weight: bold;
  }
  /* line 205, ../sass/header.scss */
  #header .navbar .navbar-nav li.active a:after {
    -moz-transform: scaleX(1);
    -o-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    border-bottom: #C79F62 solid 1px;
  }
}
@media screen and (max-width: 960px) {
  /* line 217, ../sass/header.scss */
  #header .navbar .icon-set li:not(.icon-srh) {
    display: none;
  }
}
@media screen and (width: 768px) {
  /* line 223, ../sass/header.scss */
  #header .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  /* line 226, ../sass/header.scss */
  #header .navbar .btn-group #language {
    padding: 3px 5px;
    font-size: 0.85rem;
  }
  /* line 230, ../sass/header.scss */
  #header .navbar .btn-group #language, #header .navbar .icon-set .icons {
    margin-left: 7px;
  }
}
@media screen and (max-width: 767px) {
  /* line 237, ../sass/header.scss */
  #header .navbar ul {
    position: relative;
    padding: 0;
    margin: 0;
  }
  /* line 242, ../sass/header.scss */
  #header .navbar .offcanvas-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 100%;
    width: 250px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: rgba(199, 159, 98, 0.95);
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 256, ../sass/header.scss */
  #header .navbar .offcanvas-collapse.open {
    left: calc(100% - 250px);
    visibility: visible;
    z-index: 222;
  }
  /* line 261, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav {
    position: relative;
    padding-top: 76px;
    padding-bottom: 2rem;
  }
  /* line 265, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li {
    width: 80%;
    margin-left: auto;
    line-height: 40px;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    text-align: right;
  }
  /* line 271, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a {
    display: inline-block;
    font-size: 1.15rem;
    color: #fff;
  }
  /* line 275, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li a.nav-link {
    padding: 0.5rem 0.25rem;
    font-weight: bolder;
    letter-spacing: 0.5rem;
  }
  /* line 282, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:hover a.nav-link {
    color: #d4b688;
  }
  /* line 287, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li:first-of-type .nav-link {
    padding-top: 0;
  }
  /* line 291, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sp {
    width: 100%;
    border: none;
  }
  /* line 294, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sp.soc {
    padding: 15px 0 10px;
  }
  /* line 296, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sp.soc a {
    padding: 0 8px;
    font-size: 1.5rem;
  }
  /* line 301, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sp.lan {
    padding: 0;
  }
  /* line 303, ../sass/header.scss */
  #header .navbar .offcanvas-collapse .navbar-nav li.sp.lan a {
    padding: 0 12px;
    font-size: 0.85rem;
  }
  /* line 312, ../sass/header.scss */
  #header .navbar .btn-group {
    display: none;
  }
  /* line 315, ../sass/header.scss */
  #header .navbar .icon-set {
    position: absolute;
    right: 65px;
  }
  /* line 319, ../sass/header.scss */
  #header .navbar .menu {
    display: block !important;
  }
  /* line 324, ../sass/header.scss */
  #header.fixed .navbar {
    padding: 3px 15px;
    background-color: transparent;
    box-shadow: none;
  }
}
@media screen and (max-width: 576px) {
  /* line 333, ../sass/header.scss */
  #header.fixed .navbar {
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* line 4, ../sass/footer.scss */
#footer {
  position: relative;
  padding: 1.5rem 0;
  background: url("../images/bg/end-bg.jpg") center no-repeat;
  background-attachment: fixed;
  color: #C79F62;
  font-size: 0.85rem;
  z-index: 1;
  overflow: hidden;
}
/* line 13, ../sass/footer.scss */
#footer:before, #footer:after {
  content: "";
  position: absolute;
  height: 100%;
  z-index: -1;
}
/* line 19, ../sass/footer.scss */
#footer:before {
  top: 0;
  right: 0;
  width: 320px;
  background: url(../images/bg/end-1.jpg) center top no-repeat;
  background-size: contain;
}
/* line 26, ../sass/footer.scss */
#footer:after {
  bottom: 0;
  left: 0;
  width: 360px;
  background: url(../images/bg/end-2.png) center bottom no-repeat;
  background-size: contain;
}
/* line 33, ../sass/footer.scss */
#footer .logo {
  width: 200px;
  margin: 0 auto 50px;
  text-align: center;
}
/* line 37, ../sass/footer.scss */
#footer .logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* line 44, ../sass/footer.scss */
#footer .text h5 {
  color: #C79F62;
}
/* line 49, ../sass/footer.scss */
#footer .soc-icons .title {
  text-align: right;
}
/* line 52, ../sass/footer.scss */
#footer .soc-icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 56, ../sass/footer.scss */
#footer .soc-icons ul a {
  color: #C79F62;
}
/* line 59, ../sass/footer.scss */
#footer .soc-icons ul.icons {
  display: inline-block;
  width: 100%;
  border-left: 2px solid #C79F62;
}
/* line 63, ../sass/footer.scss */
#footer .soc-icons ul.icons li {
  float: left;
  width: 50%;
}
/* line 66, ../sass/footer.scss */
#footer .soc-icons ul.icons li:nth-of-type(odd) {
  text-align: center;
}
/* line 70, ../sass/footer.scss */
#footer .soc-icons ul.icons a {
  font-size: 1.5rem;
}
/* line 72, ../sass/footer.scss */
#footer .soc-icons ul.icons a .iconify {
  padding: 3px;
  border: 1px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 80, ../sass/footer.scss */
#footer .soc-icons ul.info li {
  position: relative;
  padding: 10px 0;
}
/* line 83, ../sass/footer.scss */
#footer .soc-icons ul.info li > span {
  display: block;
  position: absolute;
  top: 3px;
}
/* line 87, ../sass/footer.scss */
#footer .soc-icons ul.info li > span .iconify {
  font-size: 1.75rem;
}
/* line 91, ../sass/footer.scss */
#footer .soc-icons ul.info li p {
  position: relative;
  padding-left: 40px;
}
/* line 94, ../sass/footer.scss */
#footer .soc-icons ul.info li p:last-of-type {
  margin-bottom: 0;
}
/* line 102, ../sass/footer.scss */
#footer .copyright {
  margin-bottom: 30px;
}
/* line 104, ../sass/footer.scss */
#footer .copyright p {
  margin-bottom: 5px;
}
/* line 107, ../sass/footer.scss */
#footer .copyright .elink {
  color: #FCB922;
}
/* line 111, ../sass/footer.scss */
#footer .gototop {
  position: relative;
  bottom: auto;
  right: auto;
  text-align: center;
}
/* line 116, ../sass/footer.scss */
#footer .gototop a {
  display: inline-block;
  margin: 0 auto;
  padding: 0 9px;
  color: #C79F62;
  border: 1px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 123, ../sass/footer.scss */
#footer .gototop a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 2.5rem;
}
/* line 129, ../sass/footer.scss */
#footer .gototop a span {
  display: block;
  font-size: 0.8rem;
}
@media screen and (min-width: 1200px) {
  /* line 136, ../sass/footer.scss */
  #footer:before {
    width: 400px;
    right: 30px;
  }
  /* line 140, ../sass/footer.scss */
  #footer .text {
    max-width: 450px;
    margin: 0 auto;
  }
  /* line 143, ../sass/footer.scss */
  #footer .text ul {
    padding-left: 28px;
  }
  /* line 148, ../sass/footer.scss */
  #footer .soc-icons ul.icons {
    width: 70%;
    margin-right: 30%;
  }
  /* line 151, ../sass/footer.scss */
  #footer .soc-icons ul.icons a {
    font-size: 2.125rem;
  }
  /* line 156, ../sass/footer.scss */
  #footer .copyright {
    width: 80%;
    margin-left: 20%;
  }
}
@media screen and (max-width: 991px) {
  /* line 162, ../sass/footer.scss */
  #footer:before {
    opacity: 0.6;
  }
  /* line 165, ../sass/footer.scss */
  #footer:after {
    width: 320px;
    opacity: 0.25;
  }
  /* line 169, ../sass/footer.scss */
  #footer .copyright {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 175, ../sass/footer.scss */
  #footer .logo {
    width: 150px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  /* line 181, ../sass/footer.scss */
  #footer:before {
    width: 200px;
  }
  /* line 184, ../sass/footer.scss */
  #footer:after {
    width: 280px;
  }
}

/* line 3, ../sass/button.scss */
.btn {
  position: relative;
  min-width: 150px;
  padding: 7px 18px;
  font-size: 0.95rem;
  text-decoration: none;
  text-align: center;
  outline: none;
  cursor: pointer;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: ease-in-out 0.35s;
  -moz-transition: ease-in-out 0.35s;
  -o-transition: ease-in-out 0.35s;
  transition: ease-in-out 0.35s;
  overflow: hidden;
  z-index: 1;
}
/* line 16, ../sass/button.scss */
.btn.btn-sm {
  min-width: 90px;
  padding: 5px 15px;
}
/* line 20, ../sass/button.scss */
.btn.disabled {
  cursor: not-allowed;
}
/* line 23, ../sass/button.scss */
.btn:before {
  content: '';
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -moz-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  -moz-transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  -o-transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
  transition: all 300ms cubic-bezier(0.55, 0.055, 0.065, 0.19);
}
/* line 35, ../sass/button.scss */
.btn:hover, .btn:active {
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  -webkit-transition: color 0.1s ease-in;
  -moz-transition: color 0.1s ease-in;
  -o-transition: color 0.1s ease-in;
  transition: color 0.1s ease-in;
}
/* line 40, ../sass/button.scss */
.btn:hover:before, .btn:active:before {
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 44, ../sass/button.scss */
.btn:active {
  -moz-transform: scale(0.96);
  -o-transform: scale(0.96);
  -ms-transform: scale(0.96);
  -webkit-transform: scale(0.96);
  transform: scale(0.96);
}

/* 主要：確認/執行鍵 */
/* line 49, ../sass/button.scss */
.btn-primary, .btn-primary.disabled {
  background-color: #C79F62;
  border-color: #C79F62;
}
/* line 52, ../sass/button.scss */
.btn-primary:before, .btn-primary.disabled:before {
  background-color: #b58741;
}
/* line 55, ../sass/button.scss */
.btn-primary:hover, .btn-primary:active, .btn-primary.disabled:hover, .btn-primary.disabled:active {
  border-color: #b58741;
}

/* 次要：連結鍵 */
/* line 60, ../sass/button.scss */
.btn-secondary {
  background-color: #444851;
  border-color: #444851;
}
/* line 63, ../sass/button.scss */
.btn-secondary:before {
  background-color: #676d7b;
}
/* line 66, ../sass/button.scss */
.btn-secondary:hover, .btn-secondary:active {
  border-color: #444851;
}

/* line 70, ../sass/button.scss */
.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #C79F62;
}
/* line 74, ../sass/button.scss */
.btn-white:hover, .btn-white:active {
  background-color: #C79F62;
  border-color: #C79F62;
  color: #fff;
}

/* 其他：取消/返回鍵 */
/* line 81, ../sass/button.scss */
.btn-light {
  background-color: rgba(124, 124, 124, 0.05);
  border-color: #AD9985;
  color: #7C7C7C;
}
/* line 85, ../sass/button.scss */
.btn-light:hover, .btn-light:active {
  background-color: rgba(124, 124, 124, 0.1);
  border-color: rgba(124, 124, 124, 0.1);
  color: #222;
}

/* 其他：選項/執行鍵 */
/* line 92, ../sass/button.scss */
.btn-outline {
  background-color: #fff;
  border-color: #C79F62;
  color: #C79F62;
  border-width: 3px;
}
/* line 97, ../sass/button.scss */
.btn-outline:before {
  background-color: #C79F62;
}
/* line 100, ../sass/button.scss */
.btn-outline:hover, .btn-outline:active {
  border-color: #C79F62;
}

/* line 5, ../sass/content.scss */
#page {
  width: 100%;
  overflow-x: hidden;
}

/* line 10, ../sass/content.scss */
.overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 111;
}

/* line 20, ../sass/content.scss */
.title {
  font-weight: bold;
  letter-spacing: 0.15rem;
}

@keyframes fadeInRight {
  0% {
    left: 20%;
  }
  100% {
    left: 0;
  }
}
/* line 34, ../sass/content.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 39, ../sass/content.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 66.67%;
}

/* line 45, ../sass/content.scss */
#main:not(.index) {
  padding: 30px 0 80px;
}
@media screen and (max-width: 767px) {
  /* line 45, ../sass/content.scss */
  #main:not(.index) {
    padding: 30px 0 40px;
  }
}

/* line 51, ../sass/content.scss */
#main {
  position: relative;
}
/* line 53, ../sass/content.scss */
#main section {
  position: relative;
}
/* line 56, ../sass/content.scss */
#main .title-set {
  position: relative;
  margin: 0 auto 40px;
  text-align: center;
}
/* line 60, ../sass/content.scss */
#main .title-set > span {
  font-family: "Noto Serif TC", serif;
  font-weight: normal;
  font-size: 0.85rem;
  color: #222;
  text-transform: capitalize;
}
/* line 67, ../sass/content.scss */
#main .title-set .title {
  position: relative;
  margin-bottom: 0;
  letter-spacing: 0.5rem;
  font-family: "Noto Serif TC", serif;
  font-weight: 600;
  font-size: 2.5rem;
  line-height: 1.2;
}
/* line 75, ../sass/content.scss */
#main .title-set .title span {
  position: relative;
  overflow: hidden;
}
/* line 78, ../sass/content.scss */
#main .title-set .title span:not(:last-of-type) {
  margin-right: 7px;
}
/* line 80, ../sass/content.scss */
#main .title-set .title span:not(:last-of-type):after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 15%;
  right: 0;
  width: 1px;
  height: 75%;
  background-color: #ED1C24;
}
@media screen and (max-width: 576px) {
  /* line 94, ../sass/content.scss */
  #main .title-set .title {
    font-size: 2rem;
  }
}
/* line 99, ../sass/content.scss */
#main .fixed-bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
  z-index: -1;
}
/* line 109, ../sass/content.scss */
#main .fixed-bg:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -5;
  background: linear-gradient(to right, white 39%, rgba(255, 255, 255, 0.41) 100%);
}
@media screen and (max-width: 767px) {
  /* line 99, ../sass/content.scss */
  #main .fixed-bg {
    display: none;
  }
}
/* line 124, ../sass/content.scss */
#main .breadcrumb {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  background: transparent;
}
/* line 131, ../sass/content.scss */
#main .breadcrumb li:not(:first-of-type):before {
  content: url("https://api.iconify.design/ic:baseline-arrow-forward-ios.svg?height=10");
  padding-right: 0.15rem;
  opacity: 0.25;
}
/* line 137, ../sass/content.scss */
#main .breadcrumb li a {
  color: #7C7C7C;
  font-size: 0.85rem;
}
/* line 142, ../sass/content.scss */
#main .breadcrumb li.active a {
  color: #222;
}
@media screen and (max-width: 767px) {
  /* line 124, ../sass/content.scss */
  #main .breadcrumb {
    padding: 0 8px;
  }
}
/* line 151, ../sass/content.scss */
#main .pagination {
  margin-top: 1.5rem;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 154, ../sass/content.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 156, ../sass/content.scss */
#main .pagination li a {
  position: relative;
  color: #707070;
  background-color: transparent;
  border: none;
  font-size: 15px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 163, ../sass/content.scss */
#main .pagination li a:after {
  content: "";
  display: block;
  border-bottom: solid 2px;
  -moz-transform: scaleX(0);
  -o-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 250ms ease-in-out;
  -moz-transition: transform 250ms ease-in-out;
  -o-transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
}
/* line 170, ../sass/content.scss */
#main .pagination li a.rotate {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
/* line 175, ../sass/content.scss */
#main .pagination li:hover a, #main .pagination li:active a {
  color: #444851;
}
/* line 177, ../sass/content.scss */
#main .pagination li:hover a:after, #main .pagination li:active a:after {
  -moz-transform: scaleX(1);
  -o-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -moz-transform: transform-origin(0%, 50%);
  -o-transform: transform-origin(0%, 50%);
  -ms-transform: transform-origin(0%, 50%);
  -webkit-transform: transform-origin(0%, 50%);
  transform: transform-origin(0%, 50%);
}
/* line 184, ../sass/content.scss */
#main .pagination li.active a {
  color: #C79F62;
  font-weight: bold;
}
/* line 190, ../sass/content.scss */
#main .pagination li:first-child a, #main .pagination li:last-child a {
  display: inline-block;
}
/* line 194, ../sass/content.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 197, ../sass/content.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 199, ../sass/content.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 206, ../sass/content.scss */
#main .content img {
  width: 100%;
  height: auto;
}
/* line 211, ../sass/content.scss */
#main .more {
  color: #C79F62;
  font-size: 0.85rem;
  border-bottom: 1px solid #C79F62;
  text-transform: capitalize;
}
/* line 216, ../sass/content.scss */
#main .more .iconify {
  margin-left: 5px;
}
/* line 220, ../sass/content.scss */
#main .red {
  color: #444851;
}
/* line 223, ../sass/content.scss */
#main .italic {
  font-style: italic;
}

/* line 229, ../sass/content.scss */
.slider .slide {
  text-align: center;
}
/* line 232, ../sass/content.scss */
.slider .slick-next, .slider .slick-prev {
  top: 50%;
  width: auto;
  height: auto;
  z-index: 59;
}
/* line 237, ../sass/content.scss */
.slider .slick-next:before, .slider .slick-prev:before {
  display: none;
}
/* line 240, ../sass/content.scss */
.slider .slick-next .iconify, .slider .slick-prev .iconify {
  font-size: 5rem;
  color: #C79F62;
}
/* line 245, ../sass/content.scss */
.slider .slick-next {
  right: 0;
}
/* line 248, ../sass/content.scss */
.slider .slick-prev {
  left: 0;
}
@media screen and (max-width: 767px) {
  /* line 253, ../sass/content.scss */
  .slider .slick-next .iconify, .slider .slick-prev .iconify {
    font-size: 3rem;
  }
  /* line 257, ../sass/content.scss */
  .slider .slick-next {
    right: -15px;
  }
  /* line 260, ../sass/content.scss */
  .slider .slick-prev {
    left: -15px;
  }
}

/* line 265, ../sass/content.scss */
#mob-srh {
  position: fixed;
  left: 0;
  width: 100%;
  height: auto;
  padding: 20px 0;
  z-index: 888;
  -webkit-box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  box-shadow: rgba(51, 51, 51, 0.25) 0 -1px 5px;
  background-color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 276, ../sass/content.scss */
#mob-srh .input-group {
  width: 100%;
}
/* line 278, ../sass/content.scss */
#mob-srh .input-group input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
}
/* line 282, ../sass/content.scss */
#mob-srh .input-group #srh-close .iconify {
  padding-left: 15px;
}
/* line 287, ../sass/content.scss */
#mob-srh.active {
  bottom: 0;
}
@media screen and (max-width: 767px) {
  /* line 265, ../sass/content.scss */
  #mob-srh {
    padding: 20px 0 10px;
  }
  /* line 292, ../sass/content.scss */
  #mob-srh .btn {
    min-width: auto;
  }
  /* line 295, ../sass/content.scss */
  #mob-srh #srh-close {
    position: absolute;
    padding: 0;
    border: none;
    background: transparent;
  }
  /* line 300, ../sass/content.scss */
  #mob-srh #srh-close span:not(.iconify) {
    font-size: 0.85rem;
    color: #fff;
  }
  /* line 304, ../sass/content.scss */
  #mob-srh #srh-close .iconify {
    padding-left: 0;
    font-size: 2rem;
    color: #fff;
  }
  /* line 311, ../sass/content.scss */
  #mob-srh.active #srh-close {
    top: -60px;
    right: -15px;
  }
}

/* line 319, ../sass/content.scss */
.price {
  position: relative;
  font-weight: bold;
  font-family: "Noto Serif TC", serif;
  color: #ED1C24;
  letter-spacing: 0;
}
/* line 325, ../sass/content.scss */
.price:before {
  display: inline-block;
  content: "$";
  padding-right: 2px;
  font-size: 14px;
}
/* line 332, ../sass/content.scss */
.price.discount:before {
  content: "- $";
}

/* line 338, ../sass/content.scss */
.hp-txt {
  font-size: 0.85rem;
  color: #7C7C7C;
}

/* line 342, ../sass/content.scss */
.elink {
  color: #f4c51c;
}

/* line 4, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div {
  position: relative;
  padding-top: 50px;
  padding-left: 15%;
}
/* line 8, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div .foto {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border: 8px solid #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  z-index: 1;
}
/* line 18, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div .foto .img:before {
  padding-bottom: 100%;
}
/* line 22, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div .text {
  position: relative;
  padding: 20px 15px;
  padding-left: 22%;
  background-color: #C79F62;
  color: #fff;
}
/* line 28, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div .text ul {
  display: inline-block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 34, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div .text ul li {
  width: 50%;
  float: left;
  font-size: 0.85rem;
}
/* line 38, ../sass/sli-osu.scss */
.sli-osusume .slick-slide > div .text ul li.act-btn {
  text-align: right;
}
/* line 46, ../sass/sli-osu.scss */
.sli-osusume .slick-next .iconify, .sli-osusume .slick-prev .iconify {
  color: #C79F62;
}
@media screen and (min-width: 768px) {
  /* line 51, ../sass/sli-osu.scss */
  .sli-osusume .slick-slide > div {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 576px) {
  /* line 57, ../sass/sli-osu.scss */
  .sli-osusume .slick-slide > div .text ul li.act-btn a {
    font-size: 0.85rem;
    padding: 5px 10px;
    min-width: auto;
  }
}

@keyframes next {
  0% {
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  50% {
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.75;
  }
}
@media screen and (max-width: 767px) {
  /* line 24, ../sass/index.scss */
  #main section:not(#cover) {
    padding: 3rem 0;
  }
}
/* line 28, ../sass/index.scss */
#header {
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
}
/* line 32, ../sass/index.scss */
#header.none {
  top: -50%;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

@media screen and (min-width: 1200px) {
  /* line 38, ../sass/index.scss */
  .index .container {
    max-width: 1370px;
  }
}
/* line 43, ../sass/index.scss */
.index .free {
  padding: 1.5rem 0;
}
/* line 46, ../sass/index.scss */
.index .slider {
  width: 100%;
  margin-bottom: 0;
}
/* line 49, ../sass/index.scss */
.index .slider .slick-track {
  overflow: hidden;
}
/* line 52, ../sass/index.scss */
.index .slider.sli-banner {
  overflow: hidden;
}
/* line 55, ../sass/index.scss */
.index .slider.sli-banner .slick-slide.slick-current .img {
  -webkit-animation: next 6s ease-in;
  -moz-animation: next 6s ease-in;
  -ms-animation: next 6s ease-in;
  animation: next 6s ease-in;
}
/* line 59, ../sass/index.scss */
.index .slider.sli-banner .slick-dots {
  bottom: 30px;
  right: 64px;
  text-align: right;
}
/* line 66, ../sass/index.scss */
.index #cover {
  position: relative;
  z-index: 10;
}
/* line 69, ../sass/index.scss */
.index #cover .caption {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  -moz-transform: translate3d(-50%, -50%, 0);
  -o-transform: translate3d(-50%, -50%, 0);
  -ms-transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
  color: #fff;
  text-align: center;
  z-index: 10;
}
/* line 78, ../sass/index.scss */
.index #cover .caption img {
  margin: 0 auto;
  margin-bottom: 30px;
}
/* line 82, ../sass/index.scss */
.index #cover .caption .text {
  color: #fff;
}
/* line 88, ../sass/index.scss */
.index #intro .bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 97, ../sass/index.scss */
.index #intro .chef {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: auto 75%;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 108, ../sass/index.scss */
.index #intro .text h4 {
  font-family: "Noto Serif TC", serif;
  color: #ED1C24;
}
/* line 112, ../sass/index.scss */
.index #intro .text p {
  text-align: left;
}
@media screen and (min-width: 1400px) and (min-height: 900px) {
  /* line 117, ../sass/index.scss */
  .index #intro .bg {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 1199px) and (min-height: 640px) and (max-height: 1200px) {
  /* line 123, ../sass/index.scss */
  .index #intro .bg {
    width: 250px;
    height: 250px;
  }
  /* line 127, ../sass/index.scss */
  .index #intro .text {
    margin-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 132, ../sass/index.scss */
  .index #intro .bg {
    right: 30px;
  }
  /* line 135, ../sass/index.scss */
  .index #intro .chef {
    background-size: auto 90%;
  }
  /* line 138, ../sass/index.scss */
  .index #intro .text {
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 143, ../sass/index.scss */
  .index #intro .text {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.9);
  }
  /* line 147, ../sass/index.scss */
  .index #intro .chef {
    background-size: 50% auto;
  }
}
@media screen and (max-width: 1199px) and (min-height: 991px) {
  /* line 152, ../sass/index.scss */
  .index #intro .text {
    margin-bottom: 0;
  }
  /* line 155, ../sass/index.scss */
  .index #intro .chef {
    background-size: 80% auto;
  }
}
@media screen and (max-width: 767px) {
  /* line 87, ../sass/index.scss */
  .index #intro {
    border-bottom: 1px solid rgba(199, 159, 98, 0.1);
  }
  /* line 161, ../sass/index.scss */
  .index #intro .bg {
    width: 200px;
    height: 200px;
  }
  /* line 165, ../sass/index.scss */
  .index #intro .text {
    margin-top: 180px;
  }
  /* line 168, ../sass/index.scss */
  .index #intro .chef {
    background-size: 80% auto;
  }
}
@media screen and (max-width: 340px) {
  /* line 174, ../sass/index.scss */
  .index #intro .text .title-set {
    margin-bottom: 20px;
  }
  /* line 177, ../sass/index.scss */
  .index #intro .text h4 {
    font-size: 1.25rem;
  }
}
/* line 184, ../sass/index.scss */
.index #products .container-fluid {
  z-index: 1;
}
/* line 187, ../sass/index.scss */
.index #products .bg {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 360px;
  height: 100%;
  background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* line 197, ../sass/index.scss */
.index #products .pro-slider {
  position: absolute;
  top: 8%;
  width: 75%;
  margin-right: auto;
  z-index: 10;
}
/* line 203, ../sass/index.scss */
.index #products .pro-slider .slider {
  position: relative;
  margin: 0 auto;
}
/* line 206, ../sass/index.scss */
.index #products .pro-slider .slider ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 211, ../sass/index.scss */
.index #products .pro-slider .slider ul li {
  float: left;
  font-family: "Noto Serif TC", serif;
  cursor: pointer;
}
/* line 217, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for {
  margin-bottom: 30px;
}
/* line 219, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for a.slick-slide {
  color: #707070;
}
/* line 222, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for .img {
  display: block;
  width: 100%;
  height: 100%;
}
/* line 227, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for ul {
  display: inline-block;
}
/* line 229, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for ul li {
  width: 50%;
  float: left;
}
/* line 232, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for ul li:last-of-type {
  text-align: right;
}
/* line 237, ../sass/index.scss */
.index #products .pro-slider .slider.sli-for .slick-arrow {
  top: 94%;
  width: auto;
  height: auto;
}
/* line 244, ../sass/index.scss */
.index #products .pro-slider .slider.sli-nav ul li {
  width: 80%;
  float: left;
}
/* line 247, ../sass/index.scss */
.index #products .pro-slider .slider.sli-nav ul li:last-of-type {
  width: 20%;
  padding-left: 10px;
}
/* line 251, ../sass/index.scss */
.index #products .pro-slider .slider.sli-nav ul li h2 {
  border-bottom: 1px solid #C79F62;
}
@media screen and (min-width: 992px) {
  /* line 259, ../sass/index.scss */
  .index #products .pro-slider {
    position: absolute;
    top: 10%;
    width: 75%;
    margin-right: auto;
  }
  /* line 267, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide .img {
    width: 60%;
    margin: 0 auto;
  }
  /* line 271, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide ul {
    width: 75%;
    margin-left: 12.5%;
  }
  /* line 274, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide ul li {
    font-size: 1.75rem;
  }
  /* line 280, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-arrow.slick-next {
    right: 4%;
  }
  /* line 283, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-arrow.slick-prev {
    left: 4%;
  }
  /* line 288, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav {
    width: 75%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) and (min-height: 1200px) {
  /* line 296, ../sass/index.scss */
  .index #products .pro-slider {
    width: 90%;
    margin-right: auto;
  }
  /* line 302, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide .img {
    width: 70%;
  }
}
@media screen and (max-width: 991px) {
  /* line 311, ../sass/index.scss */
  .index #products .bg {
    width: 280px;
  }
  /* line 318, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide ul li {
    font-size: 1.5rem;
  }
  /* line 323, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  /* line 334, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide ul {
    padding: 0 50px;
  }
  /* line 336, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide ul li {
    font-size: 1.125rem;
  }
  /* line 342, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-arrow.slick-next {
    right: -30px;
  }
  /* line 345, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-arrow.slick-prev {
    left: -30px;
  }
  /* line 351, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav ul li {
    width: 70%;
  }
  /* line 353, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav ul li:last-of-type {
    width: 30%;
  }
}
@media screen and (max-width: 767px) {
  /* line 362, ../sass/index.scss */
  .index #products .bg {
    width: 180px;
    background-position: right bottom;
  }
  /* line 366, ../sass/index.scss */
  .index #products .pro-slider {
    position: relative;
    width: 100%;
  }
  /* line 369, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for {
    margin-bottom: 50px;
  }
  /* line 372, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-for .slick-slide ul {
    padding: 0 15px;
  }
  /* line 378, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav ul li p {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 385, ../sass/index.scss */
  .index #products .bg {
    display: none;
  }
  /* line 390, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav ul li {
    width: 100%;
  }
  /* line 392, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav ul li h2 {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }
  /* line 396, ../sass/index.scss */
  .index #products .pro-slider .slider.sli-nav ul li:last-of-type {
    position: absolute;
    top: 0;
    right: 15px;
    width: 30%;
  }
}
/* line 408, ../sass/index.scss */
.index .sli-vertical ul {
  display: inline-block;
  width: 100%;
  padding: 10px 0 20px;
  margin-bottom: 10px;
  border-bottom: 1px solid #C79F62;
  list-style: none;
}
/* line 415, ../sass/index.scss */
.index .sli-vertical ul li {
  display: block;
  float: left;
}
/* line 418, ../sass/index.scss */
.index .sli-vertical ul li.text {
  width: 70%;
}
/* line 420, ../sass/index.scss */
.index .sli-vertical ul li.text .date {
  display: block;
  color: #444851;
}
/* line 425, ../sass/index.scss */
.index .sli-vertical ul li.act-btn {
  width: 30%;
  padding-left: 40px;
}
/* line 428, ../sass/index.scss */
.index .sli-vertical ul li.act-btn .btn {
  min-width: 100%;
}
/* line 435, ../sass/index.scss */
.index .sli-vertical ul:not(.top) .text .date {
  margin-bottom: 5px;
  font-size: 0.85rem;
}
/* line 439, ../sass/index.scss */
.index .sli-vertical ul:not(.top) .text h6 {
  margin-bottom: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
  color: #222;
}
/* line 450, ../sass/index.scss */
.index .sli-vertical .slick-prev {
  top: -30px;
  left: 50%;
  -moz-transform: translateX(-50%) rotate(90deg);
  -o-transform: translateX(-50%) rotate(90deg);
  -ms-transform: translateX(-50%) rotate(90deg);
  -webkit-transform: translateX(-50%) rotate(90deg);
  transform: translateX(-50%) rotate(90deg);
}
/* line 455, ../sass/index.scss */
.index .sli-vertical .slick-next {
  top: auto;
  bottom: -25px;
  right: 50%;
  -moz-transform: translateX(50%) rotate(90deg);
  -o-transform: translateX(50%) rotate(90deg);
  -ms-transform: translateX(50%) rotate(90deg);
  -webkit-transform: translateX(50%) rotate(90deg);
  transform: translateX(50%) rotate(90deg);
}
@media screen and (min-width: 992px) {
  /* line 462, ../sass/index.scss */
  .index .sli-vertical .slick-prev {
    top: -40px;
  }
  /* line 465, ../sass/index.scss */
  .index .sli-vertical .slick-next {
    bottom: -40px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 472, ../sass/index.scss */
  .index .sli-vertical ul:not(.top) li.text, .index .sli-vertical ul:not(.top) li.act-btn {
    width: 100%;
  }
  /* line 475, ../sass/index.scss */
  .index .sli-vertical ul:not(.top) li.act-btn {
    padding-left: 0;
    text-align: right;
  }
  /* line 478, ../sass/index.scss */
  .index .sli-vertical ul:not(.top) li.act-btn .btn {
    min-width: 90px;
    padding: 5px 15px;
    font-size: 0.85rem;
  }
}
/* line 488, ../sass/index.scss */
.index #news {
  background: url(../images/bg/shutterstock_1026660952-min.jpg) no-repeat center bottom;
  background-size: cover;
}
/* line 494, ../sass/index.scss */
.index #news ul li.act-btn .img {
  display: block;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}
/* line 497, ../sass/index.scss */
.index #news ul li.act-btn .img:before {
  padding-bottom: 100%;
}
@media screen and (max-width: 768px) {
  /* line 505, ../sass/index.scss */
  .index #news .bg {
    padding: 20px 15px;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media screen and (max-width: 575px) {
  /* line 488, ../sass/index.scss */
  .index #news {
    padding-top: 59px;
  }
  /* line 512, ../sass/index.scss */
  .index #news ul.top li.act-btn {
    padding-left: 10px;
  }
}
@media screen and (max-width: 360px) {
  /* line 517, ../sass/index.scss */
  .index #news ul {
    padding: 0 0 10px;
  }
}
/* line 522, ../sass/index.scss */
.index #end-bg {
  position: relative;
  overflow: hidden;
  background: url("../images/bg/end-bg.jpg") center no-repeat;
  background-attachment: fixed;
}
/* line 528, ../sass/index.scss */
.index #fcta {
  position: relative;
  padding-top: 70px;
}
/* line 531, ../sass/index.scss */
.index #fcta .video-container {
  position: relative;
  padding-top: 30px;
  padding-bottom: 56.25%;
  margin-bottom: 20px;
  height: 0;
  overflow: hidden;
}
/* line 538, ../sass/index.scss */
.index #fcta .video-container iframe, .index #fcta .video-container object, .index #fcta .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 767px) {
  /* line 547, ../sass/index.scss */
  .index #fcta .video-container {
    margin-bottom: 30px;
  }
}
/* line 553, ../sass/index.scss */
.index #recommend .context {
  text-align: center;
}
/* line 555, ../sass/index.scss */
.index #recommend .context ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 559, ../sass/index.scss */
.index #recommend .context ul.step {
  margin: 30px 0 50px;
  text-align: center;
}
/* line 562, ../sass/index.scss */
.index #recommend .context ul.step li {
  position: relative;
  display: inline-block;
  padding: 15px;
}
/* line 567, ../sass/index.scss */
.index #recommend .context ul.step li:not(:last-of-type):after {
  position: absolute;
  top: 50%;
  right: -15px;
  display: inline-block;
  content: url("https://api.iconify.design/ic:baseline-arrow-forward-ios.svg?color=%23C79F62&height=24");
  vertical-align: -0.125em;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 579, ../sass/index.scss */
.index #recommend .context ul.text {
  text-align: left;
  font-family: "Noto Serif TC", serif;
}
/* line 582, ../sass/index.scss */
.index #recommend .context ul.text li {
  position: relative;
  font-size: 0.95rem;
}
/* line 585, ../sass/index.scss */
.index #recommend .context ul.text li:before {
  display: inline-block;
  content: "*";
  padding: 0 8px;
}
/* line 593, ../sass/index.scss */
.index #recommend .context a.more {
  display: none;
}
@media screen and (max-width: 1400px) and (min-width: 1200px) {
  /* line 598, ../sass/index.scss */
  .index #recommend .context ul.step li {
    padding: 12px;
  }
}
@media screen and (max-width: 1199px) {
  /* line 604, ../sass/index.scss */
  .index #recommend .context .text {
    max-width: 360px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1199px) and (min-width: 992px) {
  /* line 612, ../sass/index.scss */
  .index #recommend .sli-osusume .slick-slide > div .foto {
    left: 45px;
  }
  /* line 615, ../sass/index.scss */
  .index #recommend .sli-osusume .slick-slide > div .text {
    padding-left: 15%;
  }
}
@media screen and (max-width: 767px) {
  /* line 621, ../sass/index.scss */
  .index #recommend .context {
    margin-bottom: 50px;
  }
  /* line 623, ../sass/index.scss */
  .index #recommend .context ul.step {
    margin: 30px 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 629, ../sass/index.scss */
  .index #recommend .context ul.step li {
    display: block;
    padding: 0;
  }
  /* line 632, ../sass/index.scss */
  .index #recommend .context ul.step li:not(:last-of-type) {
    margin-bottom: 30px;
  }
  /* line 634, ../sass/index.scss */
  .index #recommend .context ul.step li:not(:last-of-type):after {
    top: 100%;
    left: calc(50% - 15px);
    right: auto;
    -moz-transform: rotate(90deg) translateY(0);
    -o-transform: rotate(90deg) translateY(0);
    -ms-transform: rotate(90deg) translateY(0);
    -webkit-transform: rotate(90deg) translateY(0);
    transform: rotate(90deg) translateY(0);
  }
  /* line 642, ../sass/index.scss */
  .index #recommend .foto {
    width: 100px;
    height: 100px;
  }
  /* line 647, ../sass/index.scss */
  .index #recommend .sli-osusume .slick-slide > div {
    padding-left: 10%;
  }
}
@media screen and (max-width: 320px) {
  /* line 654, ../sass/index.scss */
  .index #recommend .sli-osusume .slick-slide > div {
    padding-left: 18%;
  }
}
/* line 660, ../sass/index.scss */
.index #end {
  color: #C79F62;
  font-size: 0.85rem;
  z-index: 1;
}
/* line 664, ../sass/index.scss */
.index #end:before, .index #end:after {
  content: "";
  position: absolute;
  height: 100%;
  z-index: -1;
}
/* line 670, ../sass/index.scss */
.index #end:before {
  top: 0;
  right: 0;
  width: 320px;
  background: url(../images/bg/end-1.jpg) center top no-repeat;
  background-size: contain;
}
/* line 677, ../sass/index.scss */
.index #end:after {
  bottom: 0;
  left: 0;
  width: 360px;
  background: url(../images/bg/end-2.png) center bottom no-repeat;
  background-size: contain;
}
/* line 684, ../sass/index.scss */
.index #end .logo {
  width: 200px;
  margin: 0 auto 50px;
  text-align: center;
}
/* line 688, ../sass/index.scss */
.index #end .logo img {
  max-width: 100%;
  width: 100%;
  height: auto;
}
/* line 695, ../sass/index.scss */
.index #end .text h5 {
  color: #C79F62;
}
/* line 700, ../sass/index.scss */
.index #end .soc-icons .title {
  text-align: right;
}
/* line 703, ../sass/index.scss */
.index #end .soc-icons ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 707, ../sass/index.scss */
.index #end .soc-icons ul a {
  color: #C79F62;
}
/* line 710, ../sass/index.scss */
.index #end .soc-icons ul.icons {
  display: inline-block;
  width: 100%;
  border-left: 2px solid #C79F62;
}
/* line 714, ../sass/index.scss */
.index #end .soc-icons ul.icons li {
  float: left;
  width: 50%;
  text-align: center;
}
/* line 719, ../sass/index.scss */
.index #end .soc-icons ul.icons a {
  font-size: 1.5rem;
}
/* line 721, ../sass/index.scss */
.index #end .soc-icons ul.icons a .iconify {
  padding: 3px;
  border: 1px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 729, ../sass/index.scss */
.index #end .soc-icons ul.info li {
  position: relative;
  padding: 10px 0;
}
/* line 732, ../sass/index.scss */
.index #end .soc-icons ul.info li > span {
  display: block;
  position: absolute;
  top: 3px;
}
/* line 736, ../sass/index.scss */
.index #end .soc-icons ul.info li > span .iconify {
  font-size: 1.75rem;
}
/* line 740, ../sass/index.scss */
.index #end .soc-icons ul.info li p {
  position: relative;
  padding-left: 40px;
}
/* line 743, ../sass/index.scss */
.index #end .soc-icons ul.info li p:last-of-type {
  margin-bottom: 0;
}
/* line 751, ../sass/index.scss */
.index #end .copyright {
  margin-bottom: 30px;
}
/* line 753, ../sass/index.scss */
.index #end .copyright p {
  margin-bottom: 5px;
}
/* line 756, ../sass/index.scss */
.index #end .copyright .elink {
  color: #FCB922;
}
/* line 760, ../sass/index.scss */
.index #end .gototop {
  position: relative;
  bottom: auto;
  right: auto;
  text-align: center;
}
/* line 765, ../sass/index.scss */
.index #end .gototop a {
  display: inline-block;
  margin: 0 auto;
  padding: 0 9px;
  color: #C79F62;
  border: 1px solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
/* line 772, ../sass/index.scss */
.index #end .gototop a .iconify {
  position: relative;
  display: block;
  margin: 0 auto;
  font-size: 2.5rem;
}
/* line 778, ../sass/index.scss */
.index #end .gototop a span {
  display: block;
  font-size: 0.8rem;
}
@media screen and (min-width: 1200px) {
  /* line 785, ../sass/index.scss */
  .index #end:before {
    width: 400px;
    right: 30px;
  }
  /* line 789, ../sass/index.scss */
  .index #end .text {
    max-width: 450px;
    margin: 0 auto;
  }
  /* line 792, ../sass/index.scss */
  .index #end .text ul {
    padding-left: 28px;
  }
  /* line 797, ../sass/index.scss */
  .index #end .soc-icons ul.icons {
    width: 70%;
    margin-right: 30%;
  }
  /* line 800, ../sass/index.scss */
  .index #end .soc-icons ul.icons a {
    font-size: 2.125rem;
  }
  /* line 805, ../sass/index.scss */
  .index #end .copyright {
    width: 80%;
    margin-left: 20%;
  }
}
@media screen and (max-width: 991px) {
  /* line 811, ../sass/index.scss */
  .index #end:before {
    opacity: 0.6;
  }
  /* line 814, ../sass/index.scss */
  .index #end:after {
    width: 320px;
    opacity: 0.25;
  }
  /* line 818, ../sass/index.scss */
  .index #end .copyright {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 824, ../sass/index.scss */
  .index #end .logo {
    width: 150px;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 576px) {
  /* line 830, ../sass/index.scss */
  .index #end:before {
    width: 200px;
  }
  /* line 833, ../sass/index.scss */
  .index #end:after {
    width: 280px;
  }
}
